<header>
  <a href="/"><h1 class="site-title">Newdle</h1></a>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink"><a href="/">Home</a></li>
	  <li class="navitem navlink"><a href="/create">Create</a></li>
	  <li class="navitem navlink"><a href="/sign_up">Sign Up</a></li>
    </ul>
  </nav>
</header>
