  <article class="newdle">
    <div class="newdle-content">
      <p class="newdle-text">
		{{day}}
		{{date}}
      </p>
      <p class="newdle-attribution">
		
        <a id="openings-count" href="#">{{openings}} openings</a>
      </p>
    </div>
  </article>

