<article class="newdle">
    <div class="newdle-content">
      <p class="newdle-text">
		Account: {{id}}
      </p>
      <p class="newdle-attribution">
        <a id="openings-count" href="#" onclick="initSignupView({{id}})">{{openings}} openings</a>
      </p>
    </div>
</article>