{{! This is a handlebars partial for the edit-newdle modal. }}

<div id="modal-backdrop" class="hidden"></div>
<div id="signup-newdle-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header" ID="header-insertion">

      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
		<div class="newdle-input-element">
			
			
		</div>
		<label from="input-signup-name" id="name-label">Name:</label>
		<input id="input-signup-name" class="newdle-input-element" type="text" />
    </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Sign Up!</button>
    </div>

  </div>
</div>
