.planner, .planner-header, .planner-names {
	/*table-layout: fixed;*/
}

.header-scroller {
	overflow-x: hidden;
	max-width: 215px;
	position: relative;
	left: 75px;
}

.names-scroller {
	overflow-y: hidden;
	max-height: 130px;
	display: inline-block;
	vertical-align: top;
}

.cell-scroller {
	overflow-x: scroll;
	overflow-y: scroll;
	max-width: 215px;
	max-height: 150px;
	display: inline-block;
	padding: 0px 15px 5px 0px;
	background-color: #e8e8e8;
}

table.planner-header th {
}

table.planner {
	padding: 2px 0px 0px 0px;
}

table.planner td {
	height: 20px;
	padding: 0 10px 0 10px;
	color: red;
}