{{! This is a handlebars partial for the create-newdle modal. }}

<button type="button" id="create-newdle-button"><i class="fa">Publish</i></button>

<div id="modal-backdrop" class="hidden"></div>
<div id="create-newdle-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Create a Schedule</h3>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
      <div class="newdle-input-element">
        <label for="newdle-text-input">Beginning</label>
        <input type="date" id="newdle-text-input"></textarea>
      </div>
      <div class="newdle-input-element">
        <label for="newdle-attribution-input">Ending</label>
        <input type="date" id="newdle-attribution-input">
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Create Schedule</button>
    </div>

  </div>
</div>
