<header>
  <a href="#"><h1 class="site-title">Newdle</h1></a>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink active"><a href="#">Home</a></li>
	  <li class="navitem navlink"><a href="#">Create</a></li>
    </ul>
  </nav>
</header>
