body {
  font-family: Bitter, Helvetica, sans-serif;
  margin: 0;
  background-color: #2C3E50;
}

a {
  text-decoration: none;
}

.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 500;
  background-color: #FF8521;
  color: #212f3d;
  text-align:center;
}

.navbar {
  background-color: #212f3d;
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
  display:block;
}

.navitem {
  display: inline-block;
  color: #D5D8DC;
}

a {
  color: #343434;
}

a:hover,
a:focus {
  color: #FF8521;
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
  color:white;
}


.navlink a:hover, .navlink a:focus{
  color: #FF8521;
}

.navlink.active {
  box-shadow: inset 0 -3px #319df6;
}


.newdle-container {
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
}

.newdle {
  flex: 0 1 20%;
  display: flex;
  margin: 2px;
  padding: 20px;
  border: 1px solid #dadada;
  border-radius: 2px;
  background-color: #D5D8DC;
}

.newdle-icon {
  font-size: 24px;
}

.newdle-content {
  flex: 1 1 80%;
  margin-left: 10px;
}

.newdle-content p {
  margin: 0;
}

.newdle-content .newdle-attribution {
  margin-top: 8px;
  text-align: right;
  font-weight: bold;
}


#create-newdle-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 70px;
  width: 70px;
  border: none;
/*  border-radius: 30px;
*/  font-size: 18px;
  background-color: #D5D8DC;
  color: #212f3d;
  text-align:center;
  cursor: pointer;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.25);
}

#create-newdle-button:hover {
  right: 27px;
  bottom: 27px;
  height: 80px;
  width: 80px;
  font-size: 22px;
/*  font-weight: 500; */
  color: #212f3d;
  background-color: #FF8521;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#create-newdle-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#edit-newdle-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#signup-newdle-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #D5D8DC;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.newdle-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.newdle-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.newdle-input-element input,
.newdle-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.input-checker {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.newdle-input-element textarea {
  min-height: 64px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button {
  background-color: #D5D8DC;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-add-button{
  background-color:#D5D8DC;
}
.modal-footer .modal-add-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  background-color: #FF8521;
  color: #fff;
}

.modal-footer .modal-accept-button:hover {
  background-color: #087dde;
}

.error-container {
  margin-top: 50px;
  text-align: center;
}

.error-container h2 {
  margin: 10px 0;
  font-size: 96px;
  font-weight: 100;
}

.error-container h3 {
  margin: 10px 0;
  font-size: 36px;
  font-weight: 400;
}

.welcome-text{
  color:#fff;
}