<!DOCTYPE html>
<html>
	{{> header}}
	{{#if createNewdleDisplay}}
		<main class="newdle-container">
			The creation dialog for a new newdle will show up here automatically when the page is loaded<br>
            The publish button should remain greyed out until a day (or however many) have been added to the page<br>
            After the user creates a new newdle, the main area will be filled with the days added to the newdle and each individual day can have the times associated with it edited here.<br>
            After the user adds a day or more to the newdle creation page, the publish button will be accessible.<br>
            After the publish button is pressed, the days and associated times will be saved to a JSON file which is then accessible at localhost:3000/*idnumber*<br>
		</main>
	{{/if}}
	{{#if publishModalDisplay}}
		<main class="newdle-container">
			{{#each newdle}}
				{{> newdle}}
			{{/each}}
		</main>
		{{> createNewdleModal}}
	{{/if}}
</html>
