<!DOCTYPE html>
<html>
	{{> header}}
	{{#if createNewdleDisplay}}
		<main class="newdle-container">
			Please Create a new Newdle!
		</main>
	{{/if}}
	{{#if publishModalDisplay}}
	{{else}}
		<main class="newdle-container">
			{{#each newdle}}
				{{> newdle}}
			{{/each}}
		</main>
	{{/if}}
	{{#if publishModalDisplay}}
		{{> createNewdleModal}}
	{{/if}}
</html>